{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire{% endblock %}

{% block body %}
<div class="container">
    <h1>Créer un nouveau commentaire</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('app_post_index') }}"><button type="button" class="btn btn-primary"><- Retour</button></a>
</div>
{% endblock %}
