{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <div class="container mt-2">
    <h1>Créer un nouveau post</h1>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('app_post_index') }}"><button type="button" class="btn btn-primary"><- Retour</button></a>
</div>
{% endblock %}
