{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<div class="container mt-2">
    <a href="/home"><button type="button" class="btn btn-primary"><- Retour</button></a>
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Rien à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="pagination">
        {{ knp_pagination_render(users) }}
    </div>
</div>
{% endblock %}

